.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  flex-direction: column;
  width: 500px;
}

.header {
  color: #3c3d44;
}

.pedidos-container{
  width: 100%;
  padding: 10px;
  border: 1px solid #008561;
  border-radius: 4px;
}